// Placeholder to quickly add your own styles
// The file is included last in the build pipeline

.btn-primary {
    --bs-btn-bg: #57ae12; --bs-btn-border-color: #57ae12;
    --bs-btn-hover-bg: #59981A; --bs-btn-hover-border-color: #59981A;
    --bs-btn-focus-shadow-rgb: 87, 174, 18;
    --bs-btn-active-bg: #81B622; --bs-btn-active-border-color: #81B622;
    --bs-btn-disabled-bg: #57ae12; --bs-btn-disabled-border-color: #57ae12; }

.dropdown-menu {
    --bs-dropdown-link-active-bg: #57ae12; }

.btn-outline-primary {
    --bs-btn-color: #57ae12; --bs-btn-border-color: #57ae12;
    --bs-btn-hover-bg: #57ae12; --bs-btn-hover-border-color: #57ae12;
    --bs-btn-focus-shadow-rgb: 51, 204, 51;
    --bs-btn-active-bg: #81B622; --bs-btn-active-border-color: #81B622;
    --bs-btn-disabled-color: #57ae12; --bs-btn-disabled-border-color: #57ae12; }

.bg-primary, .container-fluid, .p-0 {
    --bs-primary-rgb: 87, 174, 18;
    --bs-bg-opacity: 0.001;
    background-color: rgba(var(--bs-body-bg-rgb), var(--bs-bg-opacity)); }

.card-zoom card-body-link:hover, .card-zoom card-body-link:focus,
.card-body-link:hover,
.card-body-link:focus {
  color: #59981A !important; }

.link-primary {
    // color: RGBA(#57ae12, var(--bs-link-opacity, 1)) !important;
    text-decoration-color: RGBA(var(--bs-primary-rgb), var(--bs-link-underline-opacity, 1)) !important; }
    .link-primary:hover, .link-primary:focus {
      color: RGBA(35, 60, 10, var(--bs-link-opacity, 1)) !important;
      text-decoration-color: RGBA(35, 60, 10, var(--bs-link-underline-opacity, 1)) !important; }

// .next, .previous, .breadcrumb {
//     --bs-link-color: #0039a3; --bs-link-color-rgb: 0, 57, 163;
//     --bs-link-hover-color: #0015b3; --bs-link-hover-color-rgb: 0, 21, 179; }

[data-bs-theme="dark"] .btn-outline-primary {
    --bs-btn-color: #57ae12; --bs-btn-border-color: #57ae12;
    --bs-btn-hover-bg: #57ae12; --bs-btn-hover-border-color: #57ae12;
    --bs-btn-focus-shadow-rgb: 51, 204, 51;
    --bs-btn-active-bg: #81B622; --bs-btn-active-border-color: #81B622;
    --bs-btn-disabled-color: #57ae12; --bs-btn-disabled-border-color: #57ae12; } 

// [data-bs-theme="dark"] .next, .previous, .breadcrumb {
//     --bs-link-color: #57ae12; --bs-link-color-rgb: 51, 204, 51;
//     --bs-link-hover-color: #57ae12; --bs-link-hover-color-rgb: 51, 204, 51; }